################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Incident_Analyzer_Bff/Incident_Analyzer_Bff/obj
